/* ----------------- ALEJANDRO -----------------*/

/*Titulos*/
h2, h3, h4 {
  font-weight: bold;
  margin-top: 20px; 
} 

/*Botones Nav bar*/
#btnAlejandro{
  background-color: #f39c12;
}
#btnEsteban{
  background-color: #e74c3c;
}
#btnDaniel{
  background-color: #198754;
}

/*Tablas articulos*/
.tabla_articulo_alejandro {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  border: 10px solid #f39c12;
} 

.tabla_articulo_esteban {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  border: 10px solid #e74c3c;
} 

.tabla_articulo_daniel {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  border: 10px solid #198754;
} 

.capturaArticulo{
  border-radius: 20px;
}


/* ----------------- ESTEBAN -----------------*/


/* ----------------- DANIEL -----------------*/

/* ----------------- PRUEBA -----------------*/

#btnArriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  background-color: #333;
  padding: 12px;
  border-radius: 100%;
}

#btnArriba:hover {
  background-color: #555;
}
